# Rust
/target
**/*.rs.bk
Cargo.lock

# CLIPS binaries
clips/binaries/*
clara-clips/clips-src/core/*.o
clara-clips/clips-src/core/*.a

# macOS metadata files
._*
.DS_Store

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*

# Logs and temp
*.log
*.tmp

# Docker
*.tar
*.img

# our mixing place
./wok/
